.singleProductContent {
    display: flex;
    justify-content: space-between;
    margin: 4%;
    gap: 30px;

}

.productImage {
    padding-left: 10%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.productButtons {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;


}
.productButton {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.productButton::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.productButton::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.productButton:hover::after {
    filter: blur(30px);
}

.productButton:hover::before {
    transform: rotate(-180deg);
}

.productSizes {
    font-family: 'Roboto', sans-serif;;
}

.productButton:active::before {
    scale: 0.7;
}

.productButton:focus {
    background: #fff;
    color: #000;
}

.priceP{
    font-size: 1.5rem;
    font-weight: 700;
}

.descriptionP{
    font-size: 1.2rem;
    font-weight: 400;
}