.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
}

.errorTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error404{
    font-size: 5rem;
    font-weight: bold;
    color: #ff0000;
}