.policyHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.policyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}