.navbarContainer {
    background-color: black; /* Background color of the navbar container */
    padding: 10px; /* Padding around the navbar container */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbarTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbarLogo {
    width: 20vw; /* Width of the navbar logo */
    height: 5vh; /* Height of the navbar logo */
    padding-top: 15px;
  }
  
  .navbarRight {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-around;
  }

.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

  
  .navbarCart {
    color: #fff; /* Text color of the cart */
    font-size: 18px; /* Font size of the cart text */
  }
  .active {
    color: #77d2f7; /* Text color of the active link */
  }

  .navbarLeft {
    display: flex;
    width: 40vw;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
  }



